body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 2rem auto;
    background: #111111;
    color: #ffffff;
}
h1 {
    text-align: center;
}
form, .entry {
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
}
label {
    display: block;
    margin-top: 0.5rem;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #ff006c;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    background: rgba(255, 0, 108, 0.8);
}

.entry {
    background: #f9f9f9;
}
#entry-form > label { padding: 0.5rem 1rem 0 0; }
#login-form > label { padding: 0.5rem 1rem 0 0; }
#login-form, #entry-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.login-logo {
    display: block;
    margin: 2rem auto;
    max-width: 90%;
}

#main-chart {
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: rgba(255, 0, 108, 0.8);
}
